
<h2>Login</h2>

<form action="/auth/login" method="POST" id="form-container">
  <label for="email">Email</label>
  <input id="email" type="text" name="email" placeholder="palomino@gmail.com">

  <br><br>

  <label for="password">Contraseña</label>
  <input id="password" type="password" name="password" placeholder="Your password">
  <br>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  {{#if confirmed }}
    <div class="error-message">{{ confirmed }}</div>
  {{/if}}

  <br><br>

  <button>Login</button>

  <p class="account-message">
    No tienes una cuenta aun?
    <a href="/auth/signup">Registrate</a>
  </p>
</form>
